* {
  padding: 0;
  margin: 0;
}
.head {
  background-color: #ee5858;
  padding: 10px;
}
.bigcontainer {
  padding: 10px;
  margin-top: 20px;
  margin-left: 15px;
}
.container {
  width: 25%;
  background-color: black;
  color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.container h2 {
  color: #ee5858;
  margin-top: 10px;
  margin-bottom: 15px;
}
.container h5 {
  margin-bottom: 10px;
}
.container button {
  background: #ee5858;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  padding: 10px;
}
.overlay {
  background-color: #111111;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.popup {
  width: 40%;
  background-color: #ee5858;
  padding: 35px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 30%;
  display: none;
}
.popup input {
  background: transparent;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin: 15px;
  border-bottom: solid black 2px;
}
.popup textarea {
  background: transparent;
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin: 15px;
  border: solid black 2px;
}
.popup input::placeholder {
  color: black;
}
.popup textarea::placeholder {
  color: black;
}
.popup button {
  background-color: #111111;
  color: #ffffff;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 15px;
}
.popup input:focus {
  outline: none;
}
.popup textarea:focus {
  outline: none;
}
.addbtn {
  border-radius: 100%;
  padding: 20px;
  font-size: 25px;
  background-color: #ee5858;
  color: #111111;
  border: none;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
